In [1]:
print('hola')

hola

In [2]:
nombre = 'My Name'
print(nombre)

My Name

In [3]:
nombre

'My Name'

In [4]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autoawait  %autocall  %automagic  %autosave  %bookmark  %cat  %cd  %clear  %colors  %conda  %config  %connect_info  %cp  %debug  %dhist  %dirs  %doctest_mode  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %lf  %lk  %ll  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %lx  %macro  %magic  %man  %matplotlib  %mkdir  %more  %mv  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %pip  %popd  %pprint  %precision  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %rep  %rerun  %reset  %reset_selective  %rm  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [5]:
%pwd

'/home/jovyan'

In [6]:
%ls

 00_00_binder.ipynb                     datasets/
 00_00_primer_pasos.ipynb               README.md
 01_01_data_types.ipynb                 _read_me.txt
 01_02_read_iloc_unique_groupby.ipynb   requirements.txt
 01_03_data_wrangling.ipynb             Untitled.ipynb
'Clase 1 basicos.ipynb'

In [9]:
import numpy as np
n = 50
numeros_random = np.random.rand(n)
numeros_random

array([0.25047927, 0.4654712 , 0.25907551, 0.71838802, 0.09052504,
       0.22618547, 0.98187881, 0.4751929 , 0.8439055 , 0.14993007,
       0.51902997, 0.59324407, 0.05084767, 0.88350434, 0.6481704 ,
       0.20213284, 0.07694361, 0.37924881, 0.82074312, 0.4107935 ,
       0.98519331, 0.80627902, 0.38664355, 0.29171894, 0.88242524,
       0.50099118, 0.34575104, 0.67277005, 0.62674144, 0.75363525,
       0.99382314, 0.9798298 , 0.25225335, 0.95879772, 0.26989248,
       0.26962966, 0.95492008, 0.53182751, 0.01801406, 0.85554422,
       0.099195  , 0.90701466, 0.78489195, 0.88020236, 0.12687553,
       0.15231533, 0.14916469, 0.81476669, 0.39059747, 0.97298957])

In [13]:
import math

type(4)

type(4.2)

float

In [14]:
type('my nyme')

str

In [15]:
type(True)

bool

In [16]:
type(2/5)

float

In [17]:
type(None)

NoneType

In [18]:
an_array = [1, 2, 3, 4, 10]
an_array

[1, 2, 3, 4, 10]

In [19]:
print(an_array)

[1, 2, 3, 4, 10]

In [21]:
suma = sum(an_array)

In [22]:
mean_an_array = suma/len(an_array)

In [23]:
mean_an_array

4.0

In [24]:
len(an_array)

5

In [26]:
6*10**2

600

In [27]:
6*10**(-1)

0.6000000000000001

In [28]:
math.pi

3.141592653589793

In [29]:
type(math.pi)

float

In [30]:
type('math.pi')

str

In [31]:
otra_array = [2, math.pi, 3/5, 'a_str']
otra_array

[2, 3.141592653589793, 0.6, 'a_str']

In [39]:
x = 6
y = 8

if x<y:
    print('{} es menor que {}' .format(x,y))
else:
    print('{} es menor que {}' .format(y,x))

6 es menor que 8

In [40]:
my_list = [True, 6<5, 1==3, None is None]
my_list

[True, False, False, True]

In [43]:
for i in my_list:
    print('{} \t {}'.format(i, type(i)))

True 	 <class 'bool'>
False 	 <class 'bool'>
False 	 <class 'bool'>
True 	 <class 'bool'>

In [46]:
for i in my_list:
    print(i,'\t', type(i))

True 	 <class 'bool'>
False 	 <class 'bool'>
False 	 <class 'bool'>
True 	 <class 'bool'>

In [48]:
x = None
type(x)

NoneType

In [49]:
none_list = [None]*5
none_list

[None, None, None, None, None]

In [50]:
len(none_list)

5

In [51]:
una_lista = ['pos_0', 'first', 'second', 'third', 'fourth', 'fifth']
una_lista

['pos_0', 'first', 'second', 'third', 'fourth', 'fifth']

In [84]:
una_lista.sort()
una_lista

['fifth', 'first', 'fourth', 'pos_0', 'second', 'third']

In [52]:
len(una_lista)

6

In [55]:
una_lista[3]

'third'

In [56]:
una_lista[0:4]

['pos_0', 'first', 'second', 'third']

In [57]:
una_lista[:4]

['pos_0', 'first', 'second', 'third']

In [58]:
una_lista[1:4]

['first', 'second', 'third']

In [59]:
una_lista

['pos_0', 'first', 'second', 'third', 'fourth', 'fifth']

In [60]:
una_lista[5]

'fifth'

In [61]:
una_lista[-1]

'fifth'

In [66]:
una_lista[-2:]

['fourth', 'fifth']

In [67]:
una_lista[-4:-1]

['second', 'third', 'fourth']

In [68]:
una_lista[:]

['pos_0', 'first', 'second', 'third', 'fourth', 'fifth']

In [73]:
num_array = np.array(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

ValueError: only 2 non-keyword arguments accepted

In [75]:
np.dot(3,4)

12

In [76]:
np.dot([2j,3j],[2j,3j])

(-13+0j)

In [79]:
%ls

 00_00_binder.ipynb                     datasets/
 00_00_primer_pasos.ipynb               README.md
 01_01_data_types.ipynb                 _read_me.txt
 01_02_read_iloc_unique_groupby.ipynb   requirements.txt
 01_03_data_wrangling.ipynb             Untitled.ipynb
'Clase 1 basicos.ipynb'

In [77]:
import pandas as pd
data_set = 'datasets/Cartwheeldata.csv'
df = pd.read_csv(data_set)

In [78]:
df

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.00,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.00,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.00,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.00,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.00,75.0,72,N,0,4
5,6,24,M,2,N,0,75.00,71.0,81,N,0,3
6,7,28,M,2,N,0,75.00,76.0,107,Y,1,10
7,8,22,F,1,N,0,65.00,62.0,98,Y,1,9
8,9,29,M,2,Y,1,74.00,73.0,106,N,0,5
9,10,33,F,1,Y,1,63.00,60.0,65,Y,1,8
10,11,30,M,2,Y,1,69.50,66.0,96,Y,1,6
11,12,28,F,1,Y,1,62.75,58.0,79,Y,1,10
12,13,25,F,1,Y,1,65.00,64.5,92,Y,1,6
13,14,23,F,1,N,0,61.50,57.5,66,Y,1,4
14,15,31,M,2,Y,1,73.00,74.0,72,Y,1,9
15,16,26,M,2,Y,1,71.00,72.0,115,Y,1,6
16,17,26,F,1,N,0,61.50,59.5,90,N,0,10
17,18,27,M,2,N,0,66.00,66.0,74,Y,1,5
18,19,23,M,2,Y,1,70.00,69.0,64,Y,1,3
19,20,24,F,1,Y,1,68.00,66.0,85,Y,1,8
20,21,23,M,2,Y,1,69.00,67.0,66,N,0,2
21,22,29,M,2,N,0,71.00,70.0,101,Y,1,8
22,23,25,M,2,N,0,70.00,68.0,82,Y,1,4
23,24,26,M,2,N,0,69.00,71.0,63,Y,1,5
24,25,23,F,1,Y,1,65.00,63.0,67,N,0,3

In [81]:
df.head()

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.0,64.0,85,Y,1,7
3,4,39,F,1,N,0,64.0,63.0,87,Y,1,10
4,5,27,M,2,N,0,73.0,75.0,72,N,0,4

In [82]:
df.head(3)

,ID,Age,Gender,GenderGroup,Glasses,GlassesGroup,Height,Wingspan,CWDistance,Complete,CompleteGroup,Score
0,1,56,F,1,Y,1,62.0,61.0,79,Y,1,7
1,2,26,F,1,Y,1,62.0,60.0,70,Y,1,8
2,3,33,F,1,Y,1,66.0,64.0,85,Y,1,7

In [83]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [85]:
type(df.columns)

pandas.core.indexes.base.Index

In [86]:
index_list = list(df.columns)

In [88]:
index_list.sort()
index_list

['Age',
 'CWDistance',
 'Complete',
 'CompleteGroup',
 'Gender',
 'GenderGroup',
 'Glasses',
 'GlassesGroup',
 'Height',
 'ID',
 'Score',
 'Wingspan']

In [89]:
for i in df.columns:
    print(i)

ID
Age
Gender
GenderGroup
Glasses
GlassesGroup
Height
Wingspan
CWDistance
Complete
CompleteGroup
Score

In [96]:
x = df['Height']
print(x)
print(type(x))

0     62.00
1     62.00
2     66.00
3     64.00
4     73.00
5     75.00
6     75.00
7     65.00
8     74.00
9     63.00
10    69.50
11    62.75
12    65.00
13    61.50
14    73.00
15    71.00
16    61.50
17    66.00
18    70.00
19    68.00
20    69.00
21    71.00
22    70.00
23    69.00
24    65.00
Name: Height, dtype: float64
<class 'pandas.core.series.Series'>

In [97]:
y = df[['Height']]
print(y)
print(type(y))

    Height
0    62.00
1    62.00
2    66.00
3    64.00
4    73.00
5    75.00
6    75.00
7    65.00
8    74.00
9    63.00
10   69.50
11   62.75
12   65.00
13   61.50
14   73.00
15   71.00
16   61.50
17   66.00
18   70.00
19   68.00
20   69.00
21   71.00
22   70.00
23   69.00
24   65.00
<class 'pandas.core.frame.DataFrame'>

In [98]:
print(type(x))
print(type(y))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [100]:
df[['Height', 'Gender']]

    Height Gender
0    62.00      F
1    62.00      F
2    66.00      F
3    64.00      F
4    73.00      M
5    75.00      M
6    75.00      M
7    65.00      F
8    74.00      M
9    63.00      F
10   69.50      M
11   62.75      F
12   65.00      F
13   61.50      F
14   73.00      M
15   71.00      M
16   61.50      F
17   66.00      M
18   70.00      M
19   68.00      F
20   69.00      M
21   71.00      M
22   70.00      M
23   69.00      M
24   65.00      F

In [103]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [111]:
df.loc[:3, 'Age':'GenderGroup'] #rowstar : row end, column_start:column_end

   Age Gender  GenderGroup
0   56      F            1
1   26      F            1
2   33      F            1
3   39      F            1

In [112]:
df.iloc[:3, 1:4]

   Age Gender  GenderGroup
0   56      F            1
1   26      F            1
2   33      F            1

In [113]:
new_df = df.loc[:3, 'Height':'Complete']
new_df

   Height  Wingspan  CWDistance Complete
0    62.0      61.0          79        Y
1    62.0      60.0          70        Y
2    66.0      64.0          85        Y
3    64.0      63.0          87        Y

In [115]:
df.Gender.unique()

array(['F', 'M'], dtype=object)

In [116]:
df.columns

Index(['ID', 'Age', 'Gender', 'GenderGroup', 'Glasses', 'GlassesGroup',
       'Height', 'Wingspan', 'CWDistance', 'Complete', 'CompleteGroup',
       'Score'],
      dtype='object')

In [117]:
df.Height.unique()

array([62.  , 66.  , 64.  , 73.  , 75.  , 65.  , 74.  , 63.  , 69.5 ,
       62.75, 61.5 , 71.  , 70.  , 68.  , 69.  ])

In [118]:
df.groupby(['Gender', 'GenderGroup']).size()

Gender  GenderGroup
F       1              12
M       2              13
dtype: int64